<%= form_tag admin_orders_path, method: :get do %>
  <div class="input-group">
    <%= text_field_tag :receiver_phone, params[:receiver_phone],
      class: "form-control", placeholder: t(".placeholder_order") %>
    <span class="input-group-btn">
      <%= submit_tag t(".search"), class: "btn btn-default" %>
    </span>
  </div>
<% end %>
