<div class="category margin-bottom-10">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-uppercase title"><%= category.name %></h4>
    </div>
  </div>
  <div class="row">
    <%= render category.load_products Settings.products.load_products_number %>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <%= link_to t(".view_all"), products_path(category_id: category.id),
        class: "btn btn-warning" %>
    </div>
  </div>
</div>
