<div class="row category margin-bottom-10">
  <div class="col-md-12">
    <h4 class="text-uppercase title"><%= category.name %></h4>
  </div>
  <%= render category.load_products Settings.products.load_products_number %>
</div>
