<div class="col-md-3 col-sm-6">
  <div class="panel panel-info product-item">
    <div class="panel-body">
      <div class="picture">
        <%= image_tag product.picture.url, alt: product.name if product.picture? %>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="information product-name">
            <%= product.name %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="information price">
            <span class="price"><%= number_to_currency product.price %></span>
            <%= link_to t(".detail"), product, class: "btn btn-info pull-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
