<footer class="footer">
  <small>
    <%= t ".name" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title"), "/static_pages/about"%></li>
      <li><%= link_to t("static_pages.contact.title"), "/static_pages/contact" %></li>
    </ul>
  </nav>
</footer>
